<%= link_to "Create a New Draft", new_prompt_draft_path %>
<h2><%= @prompt.text %></h2>
<% @drafts.each do |d| %>
  <p><%= link_to d.story, prompt_draft_path(prompt_id: d.prompt_id, id: d.id) %><p>
<% end %>
