<h2><%= @prompt.text %></h2>
<form method="post" action="<%=prompt_drafts_path%>">
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
  <textarea name="draft"></textarea>
  <input type="submit" value="Save">
</form>
